{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <p>product: {{product.name}}</p>
    <p>product original price: {{product.price}}</p>
    <p>price: {{price}}</p>
{% endblock %}
